In [5]:
#Tables using for loop
n=int(input("Enter the Number : "))
for i in range (1,11):
    print(f"{n}*{i}={n*i}")

Enter the Number :  1

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

In [9]:
#Tables using while loop
n=int(input("Enter the Number : "))
i=1
while(i!=11):
    print(f"{n}*{i}={n*i}")
    i=i+1

Enter the Number :  1

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10